
<h1>Create a New Article</h1>

# form_for Creates a form for the object named @article
# and then add the following elements to that form

# @article is currently 'nil', as no @article has been created here
<%= render partial: 'form' %>
